<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >
    <listeners>
<!--        <listener class-name="Base.BaseTest"/>-->
        <listener class-name="Listeners.ExtentReporterNG"/>

    </listeners>
    <test name="LoginTest" preserve-order="true" enabled="true" verbose="1" >
        <classes>
            <class name="Tests.SignUpPageTests"/>
            <class name="Tests.LoginPageTests"/>
            <class name="Tests.HomePageTests"/>
            <class name="Tests.CreateOrderPageTests"/>
        </classes>
    </test>
</suite>