<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" >
    <listeners>
        <listener class-name="Listeners.ExtentReporterNG"/>

    </listeners>
    <test name="Automation" preserve-order="true" parallel="false">
        <classes>
            <class name="TestFiles.SignUpPageTests"/>
            <class name="TestFiles.LoginPageTests"/>
            <class name="TestFiles.HomePageTests"/>
            <class name="TestFiles.CreateOrderPageTests"/>
        </classes>
    </test>
</suite>