<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" >
    <listeners>
<!--        <listener class-name="Listeners.ExtentReporterNG"/>-->

    </listeners>
    <test name="Automation" preserve-order="true" parallel="false">
        <classes>
            <class name="Tests.PickrrLoginTest"/>
            <class name="Tests.OrderCreationTest"/>

        </classes>
    </test>
</suite>